# secrets

SLACK_BOT_TOKEN=<SLACK_BOT_TOKEN>
SLACK_SIGNING_SECRET=<SLACK_SIGNING_SECRET>
SLACK_APP_TOKEN=<SLACK_APP_TOKEN>
GITHUB_WEBHOOK_SECRET=<GITHUB_WEBHOOK_SECRET>

# ports

PORT=<PORT>
EXPRESS_PORT=<EXPRESS_PORT>

# slack Channel IDs

SLACK_GITHUB_STARS_CHANNEL_ID=<SLACK_GITHUB_STARS_CHANNEL_ID>
SLACK_INTRODUCTIONS_CHANNEL_ID=<SLACK_INTRODUCTIONS_CHANNEL_ID>